<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourguide">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TourGuideActivity"
            android:launchMode="singleTop"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".ui.LocationDescriptionActivity"
            android:launchMode="singleTop"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".ui.ExploreActivity"
            android:launchMode="singleTop"
            android:theme="@style/ExploreTheme" />
        <activity
            android:name=".ui.EndingActivity"
            android:launchMode="singleTop"
            android:theme="@style/MyAppTheme" />
    </application>

</manifest>